body{
    background: #356dde;
}

.chessboard{
    background: grey;
    width: 98vh;
    height: 98vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.black{
    position: relative;
    background: #22434f;
    width: 12.5%;
    height: 12.5%;
    float: left;
    color: white;
}

.white{
    position:relative;
    background: #c2edfc;
    width: 12.5%;
    height: 12.5%;
    float: left;
    color: white;
}

#reset{
    position: fixed;
    right: 0.1vw;
    bottom: 0.1vh;
}

#update{
    position: fixed;
    bottom: 0.1vh;
}

.chesspiece{
    height: 100%;
    width: 100%;
    display: flex;
    font-size: 60px;
    color: black;
    justify-content: center;
}

.fieldtext{
    position: absolute;
}
