body{
    background: #356dde;
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    display: flex;
    overflow: hidden;
}

.chessboard{
    background: grey;
    width: min(98vh, 98vw);
    height: min(98vh, 98vw);
    display: block;
    margin-inline: auto;
    margin-block: auto;
}

.black{
    position: relative;
    background: #22434f;
    width: 12.5%;
    height: 12.5%;
    float: left;
    color: white;
}

.white{
    position:relative;
    background: #c2edfc;
    width: 12.5%;
    height: 12.5%;
    float: left;
    color: white;
}

.chesspiece{
    height: 100%;
    width: 100%;
	display: flex;
    font-size: min(10vw, 10vh);
    color: black;
    justify-content: center;
}

.fieldtext{
    position: absolute;
}

.dropdown-container{
    position: absolute;
    width: auto;
    height: auto;
    z-index: 1;
    margin: min(1vh, 1vw);
}

.dropdown-button{
    width: min(45px, 10vw);
    aspect-ratio: 1;
    text-align: center;
    font-size:  min(45px, 10vw);
}

.dropdown-container:hover .dropdown-content {
    display: block;
}

.dropdown-content{
    position: absolute;
    display: none;
}

.dropdown-content:last-child{
    border-bottom: 1px solid white;
}

.button{
    all: unset;
    width: min(50vw, 300px);
    text-align: center;
    font-size: 24px;
    padding: 5px;
    border: 1px solid white;
    border-bottom: 0px;
    background: #315fbc;
    color: white;
}

.button:hover{
    background: #2b53a4;
}